@{
    ViewData["Title"] = "Hülya Hasçelik Beauty Center";
}
@{
    ViewData["ShowNav"] = false;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="site.js"></script>

</head>
<body>
    <header class="header">
       
        <h1 class="title">HÜLYA HASÇELİK BEAUTY CENTER</h1>
    </header>
    <button class="appointment-button" onclick="window.location.href='/Hesap/Giris'">Randevu Al</button>

    <section class="slider-section">
    <div class="slider-container">

        <div class="slider">
            <div class="slider-item"><img src="~/images/slide1.jpg" alt="Fotoğraf 1"></div>
            <div class="slider-item"><img src="~/images/slide2.jpg" alt="Fotoğraf 2"></div>
            <div class="slider-item"><img src="~/images/slide3.jpg" alt="Fotoğraf 3"></div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>

        </div>

        
    </section>


</body>

</html>
