body {
    font-family: 'Sans Serif Collection';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('/images/salon.jpg');
    background-size:cover;
}

header {
    text-align: center;
    padding: 10px 20px;
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: darkred;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    font-family: 'Sans Serif Collection';
    z-index: 10;
    border: 5px double darkred;
    border-radius: 5px;
    background-image: url('/images/gold.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; 
}

.appointment-button {
    position: relative;
    margin: 20px auto; 
    display: block;
    background-image: url('/images/gold.jpeg');
    color: darkred;
    border: double;
    padding: 10px 20px;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Sans Serif Collection';
    text-align: center;
}

.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 0 0 100%; 
    margin: 0 ;  
    display: flex;
    justify-content: center;

}

    .slider-item img {
        width: 40%;
        object-fit: cover;
        height: 80%;
        border: double;
        border-radius: 5px;
        background-image: url('/images/gold.jpeg');;
    }


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
    top: 40%;
    color: darkred;
    background-image: url('/images/gold.jpeg');
    border: double;
    border-radius: 5px;
}

.next {
    right: 0;
    top: 40%;
    color: darkred;
    background-image: url('/images/gold.jpeg');
    border: double;
    border-radius: 5px;
}

.p {
    
    font-family: 'Sans Serif Collection';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:antiquewhite;
    background-size: cover;
}


.img{
    padding-left:initial;
}